PROJECT_NAME="Enterprise IDP Platform"
API_V1_STR="/api/v1"

SECRET_KEY="SUPER_SECRET_CHANGE_ME_IN_PROD"
ACCESS_TOKEN_EXPIRE_MINUTES=11520

MONGODB_URL="mongodb://localhost:27017"
MONGODB_DB_NAME="idp_platform"

REDIS_URL="redis://localhost:6379/0"

CELERY_BROKER_URL="amqp://guest:guest@localhost:5672//"
CELERY_RESULT_BACKEND="redis://localhost:6379/1"

AI_PROVIDER="mock"
OPENAI_API_KEY=""
GEMINI_API_KEY=""
OLLAMA_BASE_URL="http://localhost:11434"

OCR_PROVIDER="tesseract"
TESSERACT_CMD_PATH="/usr/bin/tesseract"

STORAGE_TYPE="local"
LOCAL_STORAGE_DIR="./uploads"
